body,div,form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,header,menu,section,video,audio,rticle,button,a{margin:0;padding:0;}
button:focus {
  outline:0px;
}
aduio:focus{
  outline: none !important;
}
li{list-style:none}
body{font-size:16px;font-family:"PingFang SC","Microsoft YaHei","宋体";color:#3c3c3c;}
a{text-decoration:none;color:#595959;cursor:pointer;outline:0;}
a:active{border:none;}
a:after{border:none;}
a:hover{color:#01aef0;}
img{border:0;padding:0px;margin:0px;outline-width:0px;}

.head{
  display: flex;
  justify-content:space-around;
  margin: 0 auto;
  width: 1200px;
}
.logo,.nav,.sign{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-middle{
  display: flex;
}
.text-top{
  width:150px;
  height:28px;
  font-size:30px;
  font-weight:500;
  color:rgba(0,194,252,1);
  margin-top: 58px;
  margin-bottom: 19px;
}
.text-middle{
  height:23px;
  font-size:22px;
  font-weight:400;
  color:rgba(178,178,178,1);
  margin-top: 19px;
  margin-bottom: 55px;
}
.content-middle img{
  width: 37px;
  height: 37px;
}
.content-middle>div{
  margin: 20px 20px;
  text-align: center;
}
.content-middle p{
  color:#3C3C3C;
  margin: 10px 10px;
}
.btn-hecheng>a{
  display: block;
  font-size: 26px;
  text-align: center;
  line-height: 54px;
  width:216px;
  height:54px;
  background:linear-gradient(45deg,rgba(2,216,253,1),rgba(0,194,252,1));
  border-radius:10px;
  margin:63px 0 29px;
}
.btn-hecheng>a{
  color: #fff;
}

.content-muban{
  width: 1200px;
  height:800px;
  border-top: 1px solid #EDEDED;
  margin: 0 auto;
  position: relative;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  font-size: 16px;
  color: #00C2FC;
  line-height: 25px;
}
.content-m2{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.content-m2 img{
  width: 25px;
  height: 23px;
}
.content-m2-title{
  margin: 0 5px;
}



.btn-play{
  display: flex;
  align-items: center;
  justify-content: center;
  width:221px;
  height:45px;
  border:1px solid rgba(224, 224, 224, 1);
  border-radius:8px;
  background-color: #fff;
  margin: 25px 20px;
  cursor: pointer;
}
.btn-play>img{
  margin-right: 12px;
}
.btn-play:hover,.btn-play:focus{
  background:linear-gradient(45deg,rgba(2,216,253,1),rgba(0,194,252,1));
}
.btn-play:focus{
  border:1px solid #fff;
}
.content-penyin2{
  background-color: #FAFAFC;
}
.content-muban2,.content-zhubo{
  background-color:#F8FAFC;
  height: 574px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
.content-y1{
  display: flex;
  flex-wrap: wrap;
  
}

.content-y1 li{
  width:275px;
  height: 150px;
  background:rgba(255,255,255,1);
  border-radius:20px;
  margin: 20px 20px;
}
.content-y1-title{
  font-size:1.1rem;
  font-weight:500;
  color:rgba(60,60,60,1);
  margin: 15px 15px;
}
.content-y2,.content-y3{
  display: flex;
  margin-left: 10px;
}


.btn2-play{
  display: flex;
  align-items: center;
  justify-content: center;
  width:105px;
  height:36px;
  border:2px solid rgba(224, 224, 224, 1);
  border-radius:5px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 30px;
}
.btn2-play>img{
  margin-right: 12px;
}
.btn2-play:hover,.btn2-play:focus{
  background:linear-gradient(45deg,rgba(2,216,253,1),rgba(0,194,252,1));
}
.btn2-play:focus{
  border:1px solid #fff;
}
.content-y3{
  margin-top: 25px;
}
.content-y2>img{
  width: 25px;
  height: 23px;
}
.footer{
  background-color: #141414;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.footer-title{
  font-size: 1.25rem;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(255,255,255,1);
}
.footer-content{
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 50px;
}
.footer-content li{
  font-weight:300;
  color:rgba(123,123,123,1);
}
.footer-content li:nth-child(2n){
  margin: 0 16px;
}
.footer-bottom{
  background-color: #0D0D0D;
  line-height: 47px;
  text-align: center;
}
.footer-top{
  margin-right: 200px;
}

.foot-img{
  display: flex;
}
.foot-m{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.foot-m img{
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}
.footer-bottom span{
  display: inline-block;
  height: 47px;
  margin-right: 80px;
}
.changWe{
  height: 615px;
  background:rgba(248,250,252,1);
}
.changeWe-title{
  text-align: center;
  font-size:26px;
  font-weight:500;
  color:rgba(60,60,60,1);
 
}
.changWe-text{
  width:370px;
  height:250px;
  border:1px solid rgba(237,237,237,1);
  text-align: center;
}
.changWe-text p:first-child{
  font-size:20px;
  font-weight:400;
  color:rgba(60,60,60,1);
  margin-top: 80px;
  margin-bottom: 34px;
}
.changWe-text p:last-child{
  font-size:16px;
  font-weight:400;
  color:rgba(131,131,131,1);
  line-height:28px;
}
.changWe-content{
  position: relative;
  margin-right: 85px;
}
.changWe-content>img{
  position: absolute;
    left: 126px;
    top: -54px;
}
.changWe-Middle{
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.tab-item{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-around;
  margin-top: 30px;
}
.tab-content>img{
  width: 108px;
  height: 108px;
  border-radius:50%;
  margin-top: 12px;
  margin-bottom:12px;
}
.tab-content{
  width:254px;
  height:300px;
  border:1px solid rgba(237, 237, 237, 1);
  border-radius:15px;
  margin-top: 40px;
  text-align: center;
}
.content1-title{
  font-size:1.25rem;
  font-weight:550;
  color:rgba(51,51,51,1);
}
.tab{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 40px;
}
.tab li{
  font-size: 18px;
}
.tab li:hover{
  color: #00C2FC;
}
.tab li:nth-child(2){
  margin: 0 10px;
}
.tab2 li{
  font-size: 18px;
}
.tab2 li:hover{
  color: #00C2FC;
}
.tab2 li:nth-child(2n){
  margin: 0 10px;
}
.muban-title{
  position: absolute;
  top: 10px;
  left: 40px;
  font-size:24px;
  font-weight:500;
  color:rgba(60,60,60,1);
}
.muban-content{
  display: flex;
  text-align: center;

}
.tab1,.tab2{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 40px;
  top: 40px;
}
.muban-title1,.muban-title2{
  position: absolute;
  font-size:24px;
  font-weight:500;
  color:rgba(60,60,60,1);
  position: absolute;
  left: 40px;
  top: 40px;
}
.muban-content1,.muban-content2{
  width: 1200px;
  height: 80px;
  position: relative;
}
.tab1 li{
  font-size: 18px;
}
.tab1 li:hover{
  color: #00C2FC;

}
.tab1 li:nth-child(2n){
  margin: 0 10px;
}
.content-zhubo{
height:550px;
background:rgba(255,255,255,1);
}
.zhubo{
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 20px 20px;
    justify-content: space-around;
}
.zhubo li{
  width: 280px;
  height:300px;
  border:1px solid rgba(237,237,237,1);
  border-radius:15px;
  margin-top: 50px;
  position: relative;
}
.zhubo-img{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 95px;
  top: -50px;
}
.zhubo-item p{
text-align: center;
line-height: 40px;
}
.zhubo-item>p:first-child{
  margin-top: 70px;
  font-size: 20px;
  color:rgba(60,60,60,1);
}
.zhubo-item>p:last-child{
  color:rgba(178,178,178,1);
  border-bottom: 1px solid #EFEFEF;
}

.zhubo-btn1{
  display: flex;
  line-height: 28px;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}
.zhubo-btn1>img{
  margin-right: 5px;
}
.zhubo-btn3{
  display: flex;
  line-height: 41px;
  border-radius:8px;
  width: 220px;
  margin: 0 auto;
}
.zhubo-btn3:hover{
  background:linear-gradient(45deg,rgba(2,216,253,1),rgba(0,194,252,1));
  color: #fff;
  cursor: pointer;
}
.zhubo-btn3:hover .btn3-img{
  background: url(../images/zhizhuo_active.png);
}
.zhubo-btn3>div{
  width: 18px;
  height: 15px;
  margin: 13px 10px 13px 50px;
  background: url(../images/zhizuo.png);
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
  color: #00C2FC !important;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  font-size: 18px !important;
}
